<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:wght@300&family=Poppins:wght@200;300&display=swap" rel="stylesheet">
    <title>Document</title>

    <link rel="stylesheet" href="/css/dasbord/updateCompt.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="menu1">
          <img src="/images/Minimal Professional Economics Bank Logo.png" alt="" />
        </div>

        <div class="menu2">
          <p>
            <i class="fa-sharp fa-solid fa-house"></i>
            <a href="AcceuilAdmin">TABLEAU</a>
          </p>
          <p>
            <i class="fa-solid fa-file-invoice-dollar"></i>
            <a href="AdminCompt">COMPTES</a>
          </p>
        
          <p>
            <i class="fa-solid fa-right-to-bracket"></i>
            <a href="connexionAdmins" id="deconnexion">DÉCONNEXION</a>
          </p>
        </div>
      </header>

      <section>
        <h1>*  Veillez remplir ce formulaire pour procéder à la modification du compte</h1>

        <div class="div-form">
            <form class="form"  method="PUT" action="/update-userCompte/<%=compte._id %>" >
                <p class="title">MODIFICATION DU COMPTE BANCAIRE </p>
                <!-- <p class="message">Signup ok now and get full access to our app. </p> -->
                <div class="flex">
                    <label>
                        <input placeholder="" type="text" class="input" name="name" value="<%= compte.name %>">
                        <span>Nom</span>
                    </label>
            
                    <label>
                        <input  placeholder="" type="text" class="input" name="first_name" value="<%= compte.first_name %>">
                        <span>Prenoms</span>
                    </label>
                </div>  

                <div class="flex 2">
                    <label>
                        <input  placeholder="" type="date" class="input" name="birth_date" value="<%= compte.nbirth_date %>">
                        <span>Date de naissance</span>
                    </label>
            
                    <label>
                        <input  placeholder="" type="text" class="input" name="job" value="<%= compte.job %>">
                        <span>Fonction</span>
                    </label>
                </div>  
                        
                <label>
                    <input  placeholder="" type="email" class="input" name="email" value="<%= compte.email %>">
                    <span>Email</span>
                </label> 
                    
                <label>
                    <input  placeholder="" type="text" class="input" name="city" value="<%= compte.city %>">
                    <span>Ville de résidence</span>
                </label>
                <label>
                    <input  placeholder="" type="text" class="input" name="country" value="<%= compte.country %>">
                    <span>Pays de résidence</span>
                </label>
                <div class="flex 3">
                    <label>
                        <input  placeholder="" type="text" class="input" name="nationality" value="<%= compte.nationality %>">
                        <span>Nationalité</span>
                    </label>
                    <div class="sexe">
                      <% if (compte.sex=="HOMME"){%>
                        <label>
                            <input 
                             placeholder="" type="radio" name="sex" value="HOMME" checked>
                            <span class="input">Homme</span>
                        </label>

                        <label>
                            <input  placeholder="" type="radio" name="sex" value="FEMME">
                            <span class="input">Femme</span>
                        </label>
                      
                    <% }else{ %>
                        <label>
                          <input 
                           placeholder="" type="radio" name="sex" value="HOMME" >
                          <span class="input">Homme</span>
                      </label>

                      <label>
                          <input  placeholder="" type="radio" name="sex" value="FEMME" checked>
                          <span class="input">Femme</span>
                      </label>
                      <%}%>
                         
                    </div>
                    
                    
                </div>  

                <div class="flex 4">
                    <label>
                        <input  placeholder="" type="tel" class="input" name="phone_number" value="<%= compte.phone_numbe %>">
                        <span>+225</span>
                    </label>
                </div>  

                <div class="flex 5">
                
            
                    <label>
                        <input  placeholder="" type="file" class="input" name="file" value="<%= compte.file%>">
                        
                    </label>
                </div>  
                <button class="submit">Submit</button>
               
            </form>
       
      </section>
    </div>
  </body>
</html>
